<section>
    <div class="row">
        <h2 class="section-heading">Our Services</h2>
    </div>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="icon-wrapper">
                    <i class="fas fa-hammer"></i>
                </div>
                <h3>Service Heading</h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
                    consequatur necessitatibus eaque.
                </p>
                <br>
                <a href="../index.html" class="moreinfo" target="_blank">Click For More Information <i
                        class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
        
    </div>
</section>