<!-- ===== Pricing Section Start ===== -->
<section class="pt-17.5 lg:pt-22.5 xl:pt-27.5 pb-20 lg:pb-25">
    <div class="max-w-[1170px] mx-auto px-4 sm:px-8 xl:px-0">
        <!-- section title -->
        <div class="wow fadeInUp mb-17.5 text-center">
            <span
                class="hero-subtitle-gradient relative mb-4 font-medium text-sm inline-flex items-center gap-2 py-2 px-4.5 rounded-full">
                <img src="images/icon-title.svg" alt="icon">

                <span class="hero-subtitle-text"> Get access </span>
            </span>
            <h2 class="text-white mb-4.5 text-2xl font-extrabold sm:text-4xl xl:text-heading-2">
                Our services pricing
            </h2>
            <p class="max-w-[714px] mx-auto font-medium">
                We offer a variety of services to meet your needs with the highest level of quality.
                 Our prices are flexible and competitive to suit different budgets. 
                Contact us for a customized quote that guarantees you the best value for your investment.
            </p>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-7.5">
            <!-- Pricing item -->
            <div
                class="wow fadeInUp rounded-3xl bg-dark relative z-20 overflow-hidden pt-12.5 pb-10 px-10 pricing-item-border">
                <span class="absolute right-9 top-9"><img src="images/pricing-icon-01.svg" alt="icon" /></span>

                <h3 class="font-semibold text-heading-6 text-white mb-5.5">
                    Logo Design
                </h3>

                <div class="flex items-center gap-3.5">
                    <h2 class="font-bold text-custom-1 pricing-gradient-text">
                        $10
                    </h2>
                </div>

                <a href="/#"
                    class="mt-11 flex items-center justify-center gap-1.5 font-medium text-white p-3 rounded-lg transition-all ease-in-out duration-300 relative pricing-button-gradient hover:shadow-button">
                    Contact Us
                    <svg width="17" height="16" viewBox="0 0 17 16" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M14.8992 7.5999L9.72422 2.3499C9.49922 2.1249 9.14922 2.1249 8.92422 2.3499C8.69922 2.5749 8.69922 2.9249 8.92422 3.1499L13.1242 7.4249H2.49922C2.19922 7.4249 1.94922 7.6749 1.94922 7.9749C1.94922 8.2749 2.19922 8.5499 2.49922 8.5499H13.1742L8.92422 12.8749C8.69922 13.0999 8.69922 13.4499 8.92422 13.6749C9.02422 13.7749 9.17422 13.8249 9.32422 13.8249C9.47422 13.8249 9.62422 13.7749 9.72422 13.6499L14.8992 8.3999C15.1242 8.1749 15.1242 7.8249 14.8992 7.5999Z"
                            fill="white" />
                    </svg>
                </a>


                <!-- bg shapes -->
                <div class="absolute -z-10 pointer-events-none inset-0 overflow-hidden">
                    <span class="absolute left-0 bottom-0 -z-1">
                        <img src="images/blur-16.svg" alt="blur" class="max-w-none">
                    </span>
                    <span class="absolute left-0 top-0 -z-1">
                        <img src="images/blur-17.svg" alt="blur" class="max-w-none">
                    </span>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- ===== Pricing Section End ===== -->